@model IEnumerable<lab4.DbModels.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                Materials
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.MaterialLists.Count == 0)
                    {
                        @("–")
                        continue;
                    }
                    <select>
                        @foreach (var item2 in item.MaterialLists)
                        {
                            <option>
                                @Html.DisplayFor(modelItem => item2.Material.Name)
                            </option>
                        }
                    </select>
                    @*@Html.DisplayFor(modelItem => item.MaterialLists.Count)*@
                </td>
            </tr>
        }
    </tbody>
</table>
